---
layout: default
title: Publications
navbar_title: Publications
---

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign journal_pubs = pubs | where: "type", "journal" %}
{% assign conference_pubs = pubs | where: "type", "conference" %}
{% assign workshop_pubs = pubs | where: "type", "workshop" %}

<div class="row">
    <div class="col-12 col-lg-10">
        <p class="pt-3">
            For the full and current list, see my
            <a href="https://scholar.google.com/citations?user=QKq6OXAAAAAJ&hl=en" target="_blank">Google Scholar profile</a>.
        </p>

        {% if conference_pubs.size > 0 %}
        <h2 class="pt-4">Conference Papers</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in conference_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}

        {% if journal_pubs.size > 0 %}
        <h2 class="pt-5">Journal Articles</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in journal_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}

        {% if workshop_pubs.size > 0 %}
        <h2 class="pt-5">Workshop Papers</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in workshop_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
